{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var user = '{{request.user}}'

            function getToken(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = cookies[i].trim();
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getToken('csrftoken')
	
			function getCookie(name) {
				// Split cookie string and get all individual name=value pairs in an array
				var cookieArr = document.cookie.split(";");
	
				// Loop through the array elements
				for(var i = 0; i < cookieArr.length; i++) {
					var cookiePair = cookieArr[i].split("=");
	
					/* Removing whitespace at the beginning of the cookie name
					and compare it with the given string */
					if(name == cookiePair[0].trim()) {
						// Decode the cookie value and return
						return decodeURIComponent(cookiePair[1]);
					}
				}
	
				// Return null if not found
				return null;
			}
			var cart = JSON.parse(getCookie('cart'))
			if(cart == undefined){
				cart = {}
				console.log('Cart was created!')
				document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
			}
			console.log('Cart:', cart)
            
    </script>
    </head>
    <body>
        <ul class="nav justify-content-center" style="background-color: rgb(209, 153, 153); "> 
            <img src="{% static 'images/4.jpg' %}" id="abc1" style=" margin-left: -405px">
            <p id="abc2" style="margin-left: -10px">Artful Harbor</p>
            <li class="nav-item "> 
                <a id="q1" class="nav-link "  href="{% url 'art_FSD' %}" style="color: rgb(159, 9, 9); font-weight: bold; margin-left: -375px; margin-right: 60px;font-size: 15px">Home</a> 
            </li> 
            <li class="nav-item "> 
                <a id="q2" class="nav-link "   href="{% url 'artist' %}" style="color: rgb(186, 41, 41); font-weight: bold; margin-left: -319px; margin-right: 50px;font-size: 15px">Artist</a> 
            </li> 
            <li class="nav-item "> 
                <a id="q3" class="nav-link "   href="{% url 'artwork' %}" style="color: rgb(111, 33, 33); font-weight: bold; margin-left: -267px; margin-right: 50px;font-size: 15px">Artworks</a> 
            </li> 
            <li class="nav-item "> 
                <a id="q4" class="nav-link "   href="{% url 'store' %}" style="color: rgba(198, 62, 62, 0.822); font-weight: bold; margin-left: -190px; margin-right: 30px;font-size: 15px">Store</a> 
            </li> 
            
            <li class="nav-item  dropdown "> 
                <a id="q5" class="nav-link active dropdown-toggle"  data-bs-toggle="dropdown"  href="#Events" style="color: #a94249; font-weight: bold; margin-left: -140px; margin-right: 30px;font-size: 15px">Events</a> 
                <ul class="dropdown-menu"> 
                    <li>
                        <a class="dropdown-item"  href="{% url 'pastEvent' %}">past</a>
                    </li> 
                    <li>
                        <a class="dropdown-item"  href="{% url 'currentEvent' %}">current</a>
                    </li> 
                    <li>
                        <a class="dropdown-item"  href="{% url 'upcomingEvent' %}">upcoming</a>
                    </li> 
                </ul>
            </li> 
            <li class="nav-item "> 
                <a id="q6" class="nav-link "  href="{% url 'contact' %}" style="color: rgb(111, 55, 55); font-weight: bold; margin-left: -70px; margin-right: 20px;font-size: 15px">Contact</a> 
            </li> 

            <li class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                    <h5 style="margin-top: 4px; margin-right: -250px; margin-left: 130px; font-weight: bold; color: rgb(103, 63, 63);"><img id="v98"  src="{% static 'images/profile.webp' %}" /> {{ user.username }}</h5>
                    <a href="{% url 'logout' %}"class="btn " style="margin-top: -28px; margin-right: -310px; margin-left: 230px; background-color: rgb(103, 63, 63); font-weight: bold; color: white;">Logout</a>
                    <a href="{% url 'cart' %}">
                        <img  id="cart-icon1" src="{% static 'images/cart.png' %}">
                    </a>
                   
                   <p id="cart-total1" >{{cartItems}}</p>
                {% else %}
                <a href="{% url 'login' %}"class="btn " style="margin-top: 4px; margin-right: -270px; margin-left: 170px; font-weight: bold; color: white; background-color: rgb(103, 63, 63);">Login</a>
                <a href="{% url 'signup' %}"class="btn " style="margin-top: 4px; margin-right: -350px; margin-left: 280px; background-color: rgb(137, 90, 90); font-weight: bold; color: white;">Signup</a>
                <a href="{% url 'cart' %}">
                    <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
               
               <p id="cart-total" >{{cartItems}}</p>
                {% endif %}
                
                
                
   
            </li>
        </ul>

        <br>
        
  

  {% comment %} <div className='row g-0 vh-100 justify-content-center align-items-center mt-2 '>
    <div className='col-10 row  align-items-center border rounded-2' style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; gap: -10px">
        <div className='col-6'  style="margin-left: 10px; margin-right: 150px; ">
            <h1 className='text1' style="text-align: center; margin-top: 20px; background: linear-gradient(0deg, red, rgb(185, 232, 66), rgb(13, 187, 193), blue); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">WELCOME BACK!!</h1>
            <img src="https://img.freepik.com/premium-vector/people-with-portable-electronic-devices_178888-354.jpg" alt="computer-logo" className='img-1' style="width:50%; height:50%"/>
        </div>
        
        <div className='col-6 py-4 px-3'>
        <form method="post">
            {% csrf_token %}
            <h4 className='login-title text-center py-2 mb-2' style="border-bottom: 3px solid rgb(43, 159, 68); font-weight: 100%; color: rgb(57, 155, 77);">Login</h4>
            <div className='form-floating mb-3'>
                <input type="text" name="username"  className='form-control' id= "username" placeholder="Enter your username"><br>
                <label htmlFor='username'>Username</label>
            </div>
            <div className='form-floating mb-3'>
                <input type='password' className='form-control' id='password' placeholder='password'  />
                <label htmlFor='password'>Password</label>
            </div>
            <div className='text-center'>
                <button className='login-btn py-3 rounded-3' style=" border: none; background: linear-gradient(0deg, rgb(10, 123, 14), rgb(83, 192, 73), rgb(95, 223, 127), rgb(150, 210, 131)); color: white; font-weight: 100%; width: 100%; font-size: 1.2rem;"> Login </button>
            </div>
            <div className='text-center mt-3'>
                Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
            </div>
        </form>
        </div>
    </div>
</div>
 {% endcomment %}

<div class="row" style="padding: 250px; margin-top: -230px">
    <div class="container" style="box-shadow: rgba(0, 0, 0, 0.60) 0px 10px 20px; margin-top: 10px; margin-left: 15px; margin-right: 10px;">
    

    <div class="col-lg-12" style="padding: 20px; ">
        <form method="post">
            {% csrf_token %}
            <h4 className='login-title text-center py-2 mb-2' style="border-bottom: 3px solid rgb(43, 159, 68); font-weight: 100%; color: rgb(57, 155, 77); text-align: center;">Login</h4>
            <div className='form-floating mb-3'>
                <br>
            {{form.username.label}}
            <br>
            {{form.username}}
            <br>
        </div>
        
            <div className='form-floating mb-3'>
                <br>
            {{form.password1.label}}
            <br>
            {{form.password1}}
            <br>
        </div>
            <br>
            
            <div className='text-center'>
                
                <input type="submit" name="submit" value="Login" style="border: none; background: linear-gradient(0deg, rgb(10, 123, 14), rgb(83, 192, 73), rgb(95, 223, 127), rgb(150, 210, 131)); color: white; font-weight: bold; width: 100%; font-size: 1.2rem; border-radius: 20px; padding: 10px;"/>
                <br>
                <br>
            </div>
            <div className='text-center mt-3'>
                Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
                
            </div>
        </form>
        <br>
        
    </div>
</div>
</div>

  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>


        <br>
    </body>
</html>